{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}
    Sticky Notes
    {% endblock title %}
  </title>

  <!-- CSS links/stylesheets -->
  <link rel="stylesheet" href="{% static 'notes/styles.css' %}" />
</head>

<body>
  <header>
    <h1>
      {% block header %}
      📝 Sticky Notes
      {% endblock header %}
    </h1>
    <nav>
      <a href="{% url 'note_list' %}">Home</a>
      <a href="{% url 'note_create' %}">+ New Note</a>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock content %}
  </main>

  <footer>
    <p>&copy; P.Mofokeng 2026 Sticky Notes App</p>
  </footer>
</body>

</html>